/*$color-primary:  #F08030;*/

/*==basic reset==*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    /*==universal reset==*/
body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.8;
}
a {
    text-decoration: none;
    color: #F08030;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;

}
.nav {
    padding: 25px;
    padding-bottom: 10px;
    padding-left: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.nav__content-list {
    list-style: none;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-self: center;
}
/*.header__background {
    background-image: url(../images/home-slider1.png);
    width: 1331px;
    height: 606px;
    
}*/
.header__background-content {
    position:absolute;
    Top:163px;
    Left:120px;
    z-index: 1;
    font-size: 25.5px;
    font-weight: 200;
    line-height: 61px;
    letter-spacing: 0em;
    color: #fff;
   
   
}
.header__background-heading {
    width: 821px;
    height: 122px;

}
.btn-main {
    background-color: #F08030;
    width: 309px;
    height: 64px;
    padding: 17px 36px 17px 36px;
    gap: 10px;
    font-size: 25px;
    font-weight: 200;
    line-height: 30px;
    color: #fff;
}
.section {
    padding: 30px 40px;
}
.section__para1 {

    padding-top: 15px;
    width: 236px;
    height: 47px;
    font-size: 39px;
    font-weight: 700;
    line-height: 47px;
}
.section__para2 {
    padding-top:40px;
    font-size: 18px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: justify;

}
.section__collapse {
   margin-top:40px;
font-size: 39px;
font-weight: 700;
line-height: 95px;
letter-spacing: 0em;
color: #7D7D7D;


}
.footer__background {
    background-color: #181935;
    width: 1440px;
    height: 794px;


}
.col{
    width: 270px;
    height: 414px;
    background: linear-gradient(180deg, #37397B 0%, #181935 100%);
    margin-right: 40px;

}
.container-fluid{
    background: radial-gradient(78.41% 78.41% at 43.75% 21.59%, #7476BC 0%, #181935 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;

    width: 1440px;
    height: 704px;
    position: relative;

}
#section-img1 {
    position:absolute;
    width: 278.2879333496094px;
    height: 278.2879333496094px;
    top: 126.9999389648438px;
    left: 131px;
    border-radius: 21.741247177124023px;

}
#section-img2 {
    position:absolute;
    width: 133.9260711669922px;
    height: 133.9260711669922px;
    top: 270.36px;
    left: 424.2879638671875px;
    border-radius: 21.741247177124023px;

}
#section-img3 {
    position:absolute;
    width: 375.688720703125px;
    height: 175.66925048828125px;
    top: 436.2879028320312px;
    left: 202.311279296875px;
    border-radius: 21.741247177124023px;

}
#btn-section {
    width: 258px;
}
.section__content{
    position:absolute;
    top: 126px;
    left:700px;
    
}
.section__content h4 {
    width: 93px;
    height: 22px;
    
    font-family: "Inter", sans-serif;;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #F08030;
    text-transform: uppercase;
    padding-top: 70px;


}
.section__content-para1 {
    width: 596px;
    height: 94px;
    color:#fff;
    font-family: "Inter", sans-serif;
    font-size: 39px;
    font-weight: 600;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 40px;
}

.section__content-para2{
    padding-top: 50px;
    width: 586px;
    height: 176px;
    color: #fff;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: justified;

}
.card-wrapper {
   display: flex;
    margin: 50px 60px;
    
    

}
.card{
  margin: 1em;
  width: calc(100%/3);
  background: linear-gradient(180deg, #37397B 0%, #181935 100%);
  align-items: center;


}
.card img {
  width: 75px;

  padding-top: 40px;


}
.card-title{
  color: ffffff;
  font-family: "Inter" sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: center;

}
.card-text {
  color: #FFFFFF;
  font-family: Inter;
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;

}
.card-body a {
    background-color: #F08030;
    width: 189px;
    padding: 13px ;
    font-size: 17px;
    font-weight: 100;
    line-height: 20px;
    color: #fff;
    margin-top: 50px;
    text-align: center;
}
.products__display {
  display: flex;
}
.products-img {
  width: 358px;
  height: 358px;
  border: 1px;
  padding-right: 40px;
}
#products__heading {
  font-family: "Inter" sans-serif;
  padding: 30px;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-transform: uppercase;
  text-align: center;
  color: #F08030;
}
#products__para1 {
  width: 981px;
  height: 94px;
  font-family: "Inter" sans-serif;
  font-size: 39px;
  font-weight: 700;
  line-height: 47px;
  text-align: center;
  color: #FFFFFF;

}
.products__para {
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 20px;
  margin-left: -30px;
  color: #FFFFFF;

}


.footer {
    position: absolute;
    width: 100%;
    height: 433px;
    left: 0px;
    top: 5026px;
  
  background: #022539;
  }
  .footer-logo {
    position: relative;
    left: 620px;
    height: 78.84868621826172px;
    width: 178.9036102294922px;
    margin-top: 10px;
  }
  .footer-hr {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 24.77%;
    bottom: 75%;
    width: 100%;
    border-width: 0;
  
    background: rgba(255, 255, 255, 0.5);
  }
  .footer-hr2 {
    top: 80.77%;
  }
  .footer-contact {
    position: absolute;
    left: 21.65%;
    right: 51.39%;
    top: 40.19%;
    bottom: 31.78%;
  
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* or 188% */
  
  
    color: #FFFFFF;
  }
  .vertical-line {
    position: absolute;
    width: 1px;
    height: 133px;
    left: 720px;
    top: 159px;
  
    background: #D9D9D9;
  }
  .footer-contact-social {
    position: absolute;
    left: 50.35%;
    top: 40.19%;
    bottom: 31.78%;
    left: 800px;
  
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* or 188% */
  
  
    color: #FFFFFF;
  }
  .Newsletter-email {
    position: absolute;
    width: 219px;
    height: 46px;
    top: 30px;
  
    background: #D9D9D9;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
  }
  .Newsletter-submit-btn {
    position: absolute;
    width: 94px;
    height: 46px;
    left: 220px;
    top: 30px;
  
    background: #248FA8;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #fff;
  }
  .footer-social-icon {
    position: absolute;
    top: 87px;
  
  
  }
  
  .footer-contact p {
  display: inline-block;
  }
  .mail-icon-cover {
  
  border: 1px solid #FFFFFF;
  }
  .footer-abt-schville {
    display: flex;
    margin-top: 300px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    /* identical to box height, or 157% */
  
  
    color: #FFFFFF;
    justify-content: space-around;
  }
  .footer-color-container {
    display: flex;
  }
  .footer-color-container1 {
    height: 12px;
    width: 480px;
    left: 0px;
    top: 416px;
    border-radius: 0px;
    background: #FB991C
  
  }
  .footer-color-container2 {
    height: 12px;
    width: 480px;
    left: 480px;
    top: 416px;
    border-radius: 0px;
    background: #FFFFFF;
  }
  .footer-color-container3 {
    height: 12px;
    width: 480px;
    left: 960px;
    top: 416px;
    border-radius: 0px;
    background: #248FA8;
  }

  /** consultation section **/
.contact__us{
  color: var(--color-secondary);
  width: 80%;
  margin: auto;
  text-align: left;
  padding-top: 4rem;   
}

.contact__col{
  flex-basis: 40%;
  margin: 0 auto;  
}
.contact__col .info{
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}
.contact__col .info .fa{
  font-size: 28px;
  color: var(--color-primary);
  margin: 10px;
  margin-right: 30px;   
}


.contact__col .inputBox{
  position: relative;
}
.contact__col .inputBox input, .contact__col .inputBox textarea{
  width: 100%;
  padding: 15px;
  margin-bottom: 1.6rem;
  outline: none;
  border: 1px solid #ccc;   
}
.contact__col .inputBox span{
  position: absolute;
  left: 0;
  padding: 0 10px;
  pointer-events: none;
  font-size: 1em;
  text-transform: capitalize;
  transform: translateX(10px) translateY(-15px);
  background: var(--color-white);   
}
.contact__col .inputBox .txt{
  transform: translateX(10px) translateY(-15px);
} 



  
