*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    /** target links **/
    list-style-type: none;
    text-decoration: none;
    
}
/** css variables **/
:root{
    --color-primary: #f08030;
    --color-secondary: #181935;
    --color-white: #fff; 

    --container-width-lg: 84%;
    --container-width-md: 90;
    --container-width-sm: 94%;
    --transistion: all 400ms ease;
}



/********* new services **************************/
.services {
   /* height: 100vh; */
   width: 100%;
   display: grid;
   place-items: center;
   color: black;
}
.services__row{
   display: flex;
   flex-wrap: wrap;
}
.services__row .column {
   width: 100%;   
   padding: 0 0 1em 1em;
   text-align: center;
}
.services__row .column .card{
   color: var(--color-white);
   width: 80%;
   height: 100%;
   padding: 2em 0.6em;  
   border-radius: 5px;  
   cursor: pointer;
   transition: var(--transistion);
}
.services__row .column .cardodd{
   background: linear-gradient(180deg, #37397B 0%, #181935 100%);
}
.services__row .column .cardeven{
   background: linear-gradient(180deg, #F08030 0%, #181935 100%); 
}
.services__row .column .card .icon-wrapper{   
   position: relative;
   margin: auto;
   font-size: 30px;
   height: 2.5em;
   width: 2.5em;
   color: #fff;
   border-radius: 50%;
   display: grid;
   place-items: center;
   transition: var(--transistion);
}
.services__row .column .card:hover{
   

}


@media screen and (min-width: 768px) {
   .services {
      padding: 0 2em;
   }
   .services__row .column {
      flex: 0 50%;
      max-width: 50%;
   }
}

@media screen and (min-width: 992px){
   .services{
      padding: 1em 3em;
   }
   .services__row .column {
      flex: 0 0 33.33%;
      max-width: 33.33%;
   }
}


 /* ****************** Contact hader ******************************* */
 .contact__header{      
   position: relative;
   width: 100%; 
 }

 .contact__header .cont{
   width: 90%;
   color: var(--color-white);
   position: absolute;
   top: 30%;
   left: 10%;
   /* transform: translate(-50%, -50%); */
 }

 @media(max-width: 700px){
   .contact__header .cont{      
      text-align: center;
   }
 }

  .contact__us{
   color: var(--color-secondary);
   width: 80%;
   margin: auto;
   text-align: left;
   padding-top: 4rem;   
 }
 
 .contact__col{
   flex-basis: 40%;
   margin: 0 auto;  
 }
 .contact__col .info{
   display: flex;
   align-items: center;
   margin-bottom: 3rem;
 }
 .contact__col .info .fa{
   font-size: 28px;
   color: var(--color-primary);
   margin: 10px;
   margin-right: 30px;   
 }
 

 .contact__col .inputBox{
   position: relative;
 }
 .contact__col .inputBox input, .contact__col .inputBox textarea{
   width: 100%;
   padding: 15px;
   margin-bottom: 1.6rem;
   outline: none;
   border: 1px solid #ccc;   
 }
 .contact__col .inputBox span{
   position: absolute;
   left: 0;
   padding: 0 10px;
   pointer-events: none;
   font-size: 1em;
   text-transform: capitalize;
   transform: translateX(10px) translateY(-15px);
   background: var(--color-white);   
 }
 .contact__col .inputBox .txt{
   transform: translateX(10px) translateY(-15px);
 } 
 

 /* **** Footer Section ************************ */

 #subscribe {
   background: linear-gradient(180deg, #37397B 0%, #181935 100%);   
 }
 .email__box {   
   margin-right: 55px;   
 }
 .email__box, .input__box{
   height: 60px;
   width: calc(60% + 55px);
   padding: 0 15px;
 }
 
 
footer .content{
   max-width: 1250px;
   margin: auto;
   padding: 30px 40px 40px 40px;
}
footer .content .bottom {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

#subscribe .footer__top{   
   position: relative;
}
#subscribe .footer__top::before{
   content: '';
   position: absolute;
   left: 20%;
   top: -10px;
   height: 1px;
   width: 60%;
   background: var(--color-white);    
}

#subscribe .footer__botom{
   padding: 20px;
   position: relative;
}
#subscribe .footer__botom::before{
   content: '';
   position: absolute;
   left: 0;
   top: -10px;
   height: 2px;
   width: 100%;
   background: #afafb6;   
}
.contact__col .social_icons a{
   height: 40px;
   width: 40px;
   margin: 8px;
   padding: 0.6rem;
   border-radius: 50%;
   text-align: center;
   line-height: 40px;
   color: var(--color-white);
   font-size: 1rem;
   text-decoration: none;
   transition: var(--transistion);
}
.contact__col .social_icons a:nth-child(1){
   background: #4267b2;
}
.contact__col .social_icons a:nth-child(2){
   background: #E1306C;
}
.contact__col .social_icons a:nth-child(3){
   background: #4267b2;
}
.contact__col .social_icons a:nth-child(4){
   background: #FF0000;
}
.contact__col .social_icons a:hover{
   color: var(--color-secondary);
   background: var(--color-white);
}
@media (max-width: 700px){
   .content .top .logo-details{
      font-size: 0cap;
   }
}
