*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    /** target links **/
    list-style-type: none;
    text-decoration: none;
    
}
/** css variables **/
:root{
    --color-primary: #f08030;
    --color-secondary: #181935;
    --color-white: #fff;
    --color-black: ;


    --container-width-lg: 84%;
    --container-width-md: 90;
    --container-width-sm: 94%;
    --transistion: all 400ms ease;
}


/* ****** General Style *******************/
body {
    /* font-family: ; */
    line-height: 1.7;
    color: var(--color-white);
}
.container{
    width: var(--container-width-lg);
    margin: 0 auto;
}
/* section{
    padding: 6rem 0;
} */
section h2 {
    text-align: center;
    margin-bottom: 4rem;
}
h1,h2, h3,h4,h5{
    line-height: 1.2;
}
h1 {
    font-size: 2.8rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.6rem;
}
h4 {
    font-size: 1.3rem;
}

/* img {
    width: 100%;
    display: block;
    object-fit: cover;
} */
.btn {
    display: inline-block;
    background: var(--color-primary);
    color: var(--color-white);    
    border: 1px solid transparent;
    font-weight: 500;
} 
 .btn:hover {
    background: transparent;
    color: var(--color-primary);
    border-color: var(--color-primary);
 }

 /* ************************************ NAVBAR *************************** */
 nav {
    background: var(--color-white);
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 11;
 }

 .nav__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
.icon {
    display: flex;
    gap: 1.2rem;
} 

.nav__menu {
    display: flex;
    align-items: center;
}
 nav button {
    display: none;
    
 }
 .nav__menu ul{
    display: flex;
    align-items: center;
    gap: 2rem;
    border: 1px solid red;
 }
 .nav__menu a {
    font-size: 0.9rem;
    color: var(--color-primary);
    transition: var(--transistion)
 }
 .nav__menu a:hover{
    color: var(--color-secondary);
 }

 header {
    position: relative;
    top: 5rem;
    overflow: hidden;
    height: 85vh;
    margin-bottom: 5rem;
    color: var(--color-white);
    background-image: url("images/retinalbiometricstechnologywithmnseyedigitalremix1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #181935;
 }

 /*   header slider styling */
 .header__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
    height: 100%;
    display: flex;

 }
 .header__left{    
    margin: 160px auto 0;
 }
 .header__left h1 {
    margin: 2rem 0 2.4rem;
 }
 .btn-primary {
    width: 12.5rem;
    padding: 0.6rem 0;
    text-align: center;
    margin: 1.2rem 0.8rem;
 }

 /* ------ Alternative CSS Styling ---------*/
header  .banner {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
 }
 header .banner .slider {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0; 

 }
 header .banner .slider #slideImg{
    width: 100%;
    height: 100%;
    animation: zoom 3s linear infinite;
 }
 header .banner .overlay {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7));
    position: absolute;
    top: 0;
 }
 .content {
    width: 60%;
    margin: 10rem 4rem 0;
    color: var(--color-white);
    text-align: left;
    float: left;    
 }

 .row{
   margin-top: 5%;
   display: flex;
   justify-content: space-between;
 }

@media(max-width: 700px){
   .row{
      flex-direction: column;
   }
}

/********* new services **************************/
.services {
   /* height: 100vh; */
   width: 100%;
   display: grid;
   place-items: center;
   color: black;
}
.services__row{
   display: flex;
   flex-wrap: wrap;
}
.services__row .column {
   width: 100%;   
   padding: 0 0 1em 1em;
   text-align: center;
}
.services__row .column .card{
   color: var(--color-white);
   width: 80%;
   height: 100%;
   padding: 2em 0.6em;  
   border-radius: 5px;  
   cursor: pointer;
   transition: var(--transistion);
}
.services__row .column .cardodd{
   background: linear-gradient(180deg, #37397B 0%, #181935 100%);
}
.services__row .column .cardeven{
   background: linear-gradient(180deg, #F08030 0%, #181935 100%); 
}
.services__row .column .card .icon-wrapper{   
   position: relative;
   margin: auto;
   font-size: 30px;
   height: 2.5em;
   width: 2.5em;
   color: #fff;
   border-radius: 50%;
   display: grid;
   place-items: center;
   transition: var(--transistion);
}
.services__row .column .card:hover{
   

}


@media screen and (min-width: 768px) {
   .services {
      padding: 0 2em;
   }
   .services__row .column {
      flex: 0 50%;
      max-width: 50%;
   }
}

@media screen and (min-width: 992px){
   .services{
      padding: 1em 3em;
   }
   .services__row .column {
      flex: 0 0 33.33%;
      max-width: 33.33%;
   }
}


 /* ****************** Contact hader ******************************* */
 .contact__header{      
   position: relative;
   width: 100%; 
 }

 .contact__header .cont{
   width: 90%;
   color: var(--color-white);
   position: absolute;
   top: 30%;
   left: 10%;
   /* transform: translate(-50%, -50%); */
 }

 @media(max-width: 700px){
   .contact__header .cont{      
      text-align: center;
   }
 }

  .contact__us{
   color: var(--color-secondary);
   width: 80%;
   margin: auto;
   text-align: left;
   padding-top: 4rem;   
 }
 
 .contact__col{
   flex-basis: 40%;
   margin: 0 auto;  
 }
 .contact__col .info{
   display: flex;
   align-items: center;
   margin-bottom: 3rem;
 }
 .contact__col .info .fa{
   font-size: 28px;
   color: var(--color-primary);
   margin: 10px;
   margin-right: 30px;   
 }
 

 .contact__col .inputBox{
   position: relative;
 }
 .contact__col .inputBox input, .contact__col .inputBox textarea{
   width: 100%;
   padding: 15px;
   margin-bottom: 1.6rem;
   outline: none;
   border: 1px solid #ccc;   
 }
 .contact__col .inputBox span{
   position: absolute;
   left: 0;
   padding: 0 10px;
   pointer-events: none;
   font-size: 1em;
   text-transform: capitalize;
   transform: translateX(10px) translateY(-15px);
   background: var(--color-white);   
 }
 .contact__col .inputBox .txt{
   transform: translateX(10px) translateY(-15px);
 } 
 

 /* **** Footer Section ************************ */

 #subscribe {
   background: linear-gradient(180deg, #37397B 0%, #181935 100%);   
 }
 .email__box {   
   margin-right: 55px;   
 }
 .email__box, .input__box{
   height: 60px;
   width: calc(60% + 55px);
   padding: 0 15px;
 }
 
 
footer .content{
   max-width: 1250px;
   margin: auto;
   padding: 30px 40px 40px 40px;
}
footer .content .bottom {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

#subscribe .footer__top{   
   position: relative;
}
#subscribe .footer__top::before{
   content: '';
   position: absolute;
   left: 20%;
   top: -10px;
   height: 1px;
   width: 60%;
   background: var(--color-white);    
}

#subscribe .footer__botom{
   padding: 20px;
   position: relative;
}
#subscribe .footer__botom::before{
   content: '';
   position: absolute;
   left: 0;
   top: -10px;
   height: 2px;
   width: 100%;
   background: #afafb6;   
}
.contact__col .social_icons a{
   height: 40px;
   width: 40px;
   margin: 8px;
   padding: 0.6rem;
   border-radius: 50%;
   text-align: center;
   line-height: 40px;
   color: var(--color-white);
   font-size: 1rem;
   text-decoration: none;
   transition: var(--transistion);
}
.contact__col .social_icons a:nth-child(1){
   background: #4267b2;
}
.contact__col .social_icons a:nth-child(2){
   background: #E1306C;
}
.contact__col .social_icons a:nth-child(3){
   background: #4267b2;
}
.contact__col .social_icons a:nth-child(4){
   background: #FF0000;
}
.contact__col .social_icons a:hover{
   color: var(--color-secondary);
   background: var(--color-white);
}
@media (max-width: 700px){
   .content .top .logo-details{
      font-size: 0cap;
   }
}
