* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    /*==universal reset==*/

** css variables **/
:root{
    --color-primary: #f08030;
    --color-secondary: #181935;
    --color-white: #fff;
    --color-black: ;


    --container-width-lg: 84%;
    --container-width-md: 90;
    --container-width-sm: 94%;
    --transistion: all 400ms ease;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.8;
}
a {
    text-decoration: none;
    color: #F08030;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;

}
.nav {
    padding: 25px;
    padding-bottom: 10px;
    padding-left: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.nav__content-list {
    list-style: none;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-self: center;
}
.header__background {
    background-image: url(../images/home-slider1.png);
    width: 100%;
    height: 606px;
    
}
.header__background-content {
    font-size: 25.5px;
    font-weight: 200;
    line-height: 61px;
    letter-spacing: 0em;
    color: #fff;
    padding-left: 100px;
    padding-top: 172px;
   
}
.header__background-heading {
    width: 821px;
    height: 122px;

}
.header__background-btn {
    background-color: #F08030;
    width: 309px;
    height: 64px;
    padding: 17px 36px 17px 36px;
    gap: 10px;
    font-size: 25px;
    font-weight: 200;
    line-height: 30px;
    color: #fff;
}
.section {
    padding: 30px 40px;
}
.section__para1 {

    padding-top: 15px;
    width: 236px;
    height: 47px;
    font-size: 39px;
    font-weight: 700;
    line-height: 47px;
}
.section__para2 {
    padding-top:40px;
    font-size: 18px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: justify;

}
.section__collapse {
   margin-top:40px;
font-size: 39px;
font-weight: 700;
line-height: 95px;
letter-spacing: 0em;
color: #7D7D7D;


}
.footer__background {
    background-color: #181935;
    width: 1440px;
    height: 794px;
}
.col{
    width: 270px;
    height: 414px;
    background: linear-gradient(180deg, #37397B 0%, #181935 100%);
}

/*======== footer sectin========*/
#subscribe {
    background: linear-gradient(180deg, #37397B 0%, #181935 100%);   
  }
  .email__box {   
    margin-right: 55px;   
  }
  .email__box, .input__box{
    height: 60px;
    width: calc(60% + 55px);
    padding: 0 15px;
  }
  
  
 footer .content{
    max-width: 1250px;
    margin: auto;
    padding: 30px 40px 40px 40px;
 }
 footer .content .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 
 #subscribe .footer__top{   
    position: relative;
 }
 #subscribe .footer__top::before{
    content: '';
    position: absolute;
    left: 20%;
    top: -10px;
    height: 1px;
    width: 60%;
    background: var(--color-white);    
 }
 
 #subscribe .footer__botom{
    padding: 20px;
    position: relative;
 }
 #subscribe .footer__botom::before{
    content: '';
    position: absolute;
    left: 0;
    top: -10px;
    height: 2px;
    width: 100%;
    background: #afafb6;   
 }
 .contact__col .social_icons a{
    height: 40px;
    width: 40px;
    margin: 8px;
    padding: 0.6rem;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: var(--color-white);
    font-size: 1rem;
    text-decoration: none;
    transition: var(--transistion);
 }
 .contact__col .social_icons a:nth-child(1){
    background: #4267b2;
 }
 .contact__col .social_icons a:nth-child(2){
    background: #E1306C;
 }
 .contact__col .social_icons a:nth-child(3){
    background: #4267b2;
 }
 .contact__col .social_icons a:nth-child(4){
    background: #FF0000;
 }
 .contact__col .social_icons a:hover{
    color: var(--color-secondary);
    background: var(--color-white);
 }
 @media (max-width: 700px){
    .content .top .logo-details{
       font-size: 0cap;
    }
 }
